@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Roboto+Slab');


header {
  background-color: #6A5ACD;
  color: #FFF;
  position: relative;
}

header h1 {
  font-family: 'Great Vibes', cursive;
  text-align: center;
  padding-top: 5%;
  text-shadow: #e91e63 0.01em 0.02em 0.05em;
  margin: 0;
}

form {
  margin-bottom: 10px;
}

fieldset {
  border: none; 
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"]  {
  cursor: pointer; 
  -webkit-appearance: button;
  *overflow: scroll;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.input-add-item {
  width: 220px;
  height: 25px;
  border: dotted #e91e63 1px;
  border-radius: 4px;
  margin-right: 10px;
}

.button-add-item {
  background-color: #e91e63;
  border-radius: 100%; 
  border: dotted #FFF 2px;
  width: 38px;
  height: 38px;
  color: #FFF;
  font-size: 29px;
  font-weight: bold;
  position: relative;
  top: 5px;

}

.navbar span {
  width: 33.33%;
  display: inline-block;
  font-size: 90%;
  text-align: center; 
  border-bottom: solid 3px #640a29;
}

.navbar span:hover {
  border-bottom: solid 3px  #e91e63;
}

main {
  font-family: 'Roboto Slab', serif;
  position: relative;
}

.list-container {
  list-style: none;
}

.list-container li {
  margin-bottom: 30px;
}

.item-label{
  position: relative;
  font-size: 16px;
}

.item-label:before {
  content: "";
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  background-color: #FFF;
  border: 2px solid #C71585;
  border-radius: 5px;
  top: 5px;
}

.item-label input {
  display: none;
}

.item-label input:checked ~ .item-description {
  text-decoration:line-through;
  font-style: italic;
  color: #696969;
}

.item-label input:checked ~ .item-description:before {
  content: "";
  position: absolute;
  display: inline-block;  
  border-left: 3px solid;
  border-bottom: 4px solid;
  height: 9px;
  width: 23px;
  transform: rotate(-45deg);
  left: 5px;
  top: -5px;
}

#btn-remove-item {
  width: 15%;
  background-color: #e91e63;
  border: 2px dotted #FFF;
  color: white;
  font-size: 100%;
  font-weight: bold;
  border-radius: 3px;
  line-height: 1%;
  right: 20px;
  bottom: 5%;
  position: fixed;
}

/*@media screen and (max-width:320px)  {

  body {
    width: 312px;
  }
  
  .navbar {
    font-size: 18px;
  }

  .navbar span {
    width: 104px;
  }

}*/


/*@media screen and (min-width:768px) {
  
  body {
    width: 760px;
    font-size: 26px;
  }

  header h1 {
    font-size: 80px;
  
  }

  fieldset {
    top:70%;
    left: 50%;
  }

  .input-add-item {
    width: 600px;
    height: 40px;
    border: dashed #e91e63 2px;
    font-size: 18px;
  }

  .button-add-item {
    width: 50px;
    height: 50px;
    border: dashed #FFF 2px;
    margin: -4px 0 0 30px;
  }

  .item-label {
    font-size: 24px;
  }

  #btn-remove-item {
    bottom: 5%;
    right: 30px;
  }

  .item-label input:checked ~ .item-description:before {
    top:0;
  }

}*/

/*@media screen and (min-width:732px) and (orientation: landscape) {
  
  #btn-remove-item {

    position: absolute;
    margin-top: 10px;
    bottom: 0;
    right: 30px;
  }
}
*/
/*@media screen and (min-width:980px) {
  body {
    width: 970px;
  }

  .input-add-item {
    width: 760px;
    height: 40px;
    border: dashed #e91e63 2px;
    font-size: 18px;
  }

  #btn-remove-item {
    bottom: 10%;
    right: 30px;
  }
    
}

@media screen and (min-width:1280px) {
  body{
    width: 1260px;
    font-size: 30px;
  }

  header h1 {
    padding-top: 3%;
    font-size: 100px;
  }

  .input-add-item {
    width: 965px;
    height: 55px;
    border: dashed #e91e63 2px;
    font-size: 24px;
  }

  .button-add-item {
    width: 65px;
    height: 65px;
    border: dashed #FFF 2px;
    margin: -4px 0 0 40px;
  }

  .navbar {
    font-size: 40px;
  }

  fieldset {
    margin-right: 30%;
  }

  .navbar span {
    width: 420px;
  }

  .item-label {
    font-size: 35px;
  }

  #btn-remove-item {
    bottom: 10%;
    right: 30px;
  }
  
  .item-label:before {
    width: 30px;
    height: 30px;
  }

  .item-label input:checked ~ .item-description:before {
    top:3px;
    border-left: 5px solid;
    border-bottom: 6px solid;
    height: 12px;
    width: 28px;
  }

  #btn-remove-item {
    height: 40px;
    bottom: 10%;
    right: 30px;
  }

}*/


/*@media only screen and (min-width:1440px) {

}*/